/* CSS declarations go here */
/*body{
	background-image: url("http://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg");
	background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}*/
body{
	font-family:Arial;
	font-size: 16px;
}
#header{
	position:relative;
	margin-top:0px;
	float:right;
	padding:10px;
	margin-bottom:25px;
	
}
#header p {
	display:inline;
	padding:10px;
	font-family: Arial;
	font-size:20px;
	background-color: #e6f7ff;
	border:2px solid lightblue;
}
#header p a {
	text-decoration: none;
	color: #004666;
}
#header p a:hover{
	color: lightblue;
}
#logo{
	float:left;
	width:100px;
	margin-left: 100px;
}

#search_buttons{
	position:absolute;
	padding:10px;
	margin-top:345px;
	margin-left: 400px;
	margin-bottom:25px;
}

#search_buttons p {
	display:inline;
	padding:10px;
	font-family: Arial;
	font-size:20px;
	background-color: #e6f7ff;
	border:2px solid lightblue;
}
#search_buttons p a{
	text-decoration: none;
	color: #004666;
}
#search_buttons p a:hover{
	color: lightblue;
}

button{
	padding:5px;
	background-color: #e6f7ff;
	border:2px solid lightblue;
}

/*homepage CSS*/
form{
	margin-right:50px;
	border:2px solid lightblue;
	padding:10px;
	font-family: Arial;
	font-color:#004666;
}
form input{
	float:right;
	border:2px solid lightblue;
	padding:5px;
}

form input:focus{
	background-color: #e6f7ff;
}

#book_display{
	float:left;
	margin-left: 100px;
}
#book_display img{
	width:200px;
}

#book_info{
	text-align: center;
	float:right;
	margin-right:100px;
	border:2px solid lightblue;
	padding:10px;
	width:800px;
	font-family: Arial;
	font-color:#004666;

}

a{
	text-decoration: none;
	color: #004666;
}
.info{
	border:2px solid lightblue;
	padding:5px;
}

/*User profile CSS*/
#profile_top_panel {
	background-color: lightblue;
	padding-bottom: 20px;
}

#profile_page_body{
	
	padding-bottom: 30px;
}
#profile_credit_display{
	margin-left: 500px;
}
#profile_logout_button{
	position:absolute;
	left:1100px;
}
#profile_update_button{
	position:absolute;
	left:1100px;
}
#profile_username{

	position:relative;
	bottom: 30px;
	font-size: 300%;
}
#profiel_changephoto_button{
	position:relative;
	left: 30px;
}
#profile_signature{
	position:relative;
	left:30px;
	border-style: solid;
	border-color: grey;
	width: 700px;
}
#profile_delete_button{
	position:absolute;
	left:1100px;
}
#profile_favorite_book_box, #profile_contribute_book_box, #profile_donated_book_box{
	position:relative;
	border-width: 1px;
	border-style: solid;
	top: -30px;
	left:150px;
	width:800px;
	height:50px;
}

/*Donation page CSS*/
#donation_picture{
	position: relative;
	left:600px;
	top: -200px;
}

/*Redeem page css*/
#redeem_page_div{
	text-align: center;
	border-style: solid;
	border-color: grey;
	width:500px;
	height: 600px;

}

/*Login page CSS*/

#login_signup{
	float:right;
	padding-right: 150px;
}
#login_usernamepassword{
	width:330px;
}

#login_usernamepassword input{
	float:right;
}
#login_sign_up_part{
	position:right;
}

#login_sign_up_part{
	float:right;
	

}
#login_page_picture img{
	position:relative;
	margin-left:250px;
	width:400px;
}
#sign_up_page_additional{
	text-align: center;
	border-style: solid;
	border-color: grey;
	width:500px;
	height:600px;
}